@import url('https://fonts.googleapis.com/css2?family=Exo&family=Inter&family=Nunito&family=Open+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --navbar: #F5F5F5;
    --dashboard: #ffffff;
}
::selection{
    background: #00a790;
    color: white;
}
SD{
    color: #d9f9e7;
}